html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  color: var(--text-primary);
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
}
